<div class='container'>
  <nav class='navbar navbar-inverse navbar-toggleable-sm custom-nav'>
    
    <a class='navbar-brand cb' href='#'>
      NPMRDS
    </a>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='nav-link' to='/landing'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/pm3'>PM3</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='#'>Data Explorer</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='#'>Guide</a>
        </li>
        <li class='nav-item active'>
          <a class='nav-link' href='#'>Blog</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link login' href='#'>Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
