{{ partial "head" . }}
{{ partial "nav" . }}
  <div class='container'>
    <h2 class="guide-title">{{.Title}}</h2>
      <div class="flex justify-between grey-3">
      </div>
      <div class="cms mw6">
        <p>{{ .Description }}</p>
        {{ .Content }}
        {{ if .Params.image }}
          <img class='img-fluid' src="{{ .Params.image }}"/>
        {{ end }}
        
      </div>
      <div class='row'>
        <div class="container">
          <div class='row d-flex align-items-stretch'>
            {{ range where .Site.Pages "Type" "step" }}
              {{ if eq .Params.guideNumber $.Params.guideNumber }}
                <div class="col-md-12">
                  {{ .Render "li" }}
                </div>
              {{ end }}
            {{ end }}
          <div>
        </div>
      </div>
  </div>

