<div class='guide-step'>
    <section class='step step-wrapper js-step'>
      <div class='container'>
        <div>
          <div class='row'>
            <div class='col-md-12'>
              <h2>{{.Title}} <span style="font-size: '.75em' ; font-weight: 200 ">{{ .Params.subtitle }}</span></h2>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-7 guide-step-container'>
            <img class='img img-fluid thumbnail' src='img/pm3-root-causes.jpg' />
          </div>
          <div class='col-md-5 guide-step-container' style= "text-align: 'left' ">
            <div class='row step-content'>
    
                <div class='col-md-4 step-thumbnail js-step-thumbnail-container'>
                  <img src='img/pm3-root-causes.jpg'/>
                </div>
              
              
                <div class='col-md-4 step-thumbnail js-step-thumbnail-container'>
                  <img src='img/pm3-root-causes.jpg'/>
                </div>
             
              
                <div class='col-md-4 step-thumbnail js-step-thumbnail-container'>
                  <img src='img/pm3-root-causes.jpg'/>
                </div>
              
            </div>
            <div class='guide-text'>
              <div class='vc-text'>
                <h1 style="font-size: '2.5em'; font-weight: 500 ">
                  Set More Informed PM3 Targets. 
                </h1>
                <p style="font-size: '1.25em'; font-weight: 300 ">
                   <span class='bold-text'>Pinpoint Analysis of PM3 Measures</span><br/>
                   Discover which TMCs are contributing negatively to your performance scores.<br/><br/>
                   <span class='bold-text'>Track PM3 Progress</span><br/>
                   Month over month and year over year analysis.<br/><br/>
                   <span class='bold-text'>Easy to Use Visualization and Analysis Tools</span><br/>
                   Default Templates for quick and easy analysis as well as highly customizable features for more in-depth analyses.<br/><br/>
                   <span class='bold-text'>Publish Reports Directly to the Web</span><br/>
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>