<div class='guide-step'>
  <section class='step step-wrapper js-step'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <h2>{{.Title}} <span style="font-size: '.75em' ; font-weight: 200 ">{{ .Params.subtitle }}</span></h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-7 guide-step-container'>
          <img class='img img-fluid thumbnail' id='main_{{ .Params.tag}}' src='{{ .Params.image1 }}' />
        </div>
        <div class='col-md-5 guide-step-container' style= "text-align: 'left' ">
          <div class='row step-content'>
  
              <div class='col-md-4 step-thumbnail js-step-thumbnail-container' 
                onmouseover='scrollSwitch("main_{{ .Params.tag}}", {{ .Params.image1}});'>
                <img src='{{ .Params.image1 }}'/>
              </div>

              <div class='col-md-4 step-thumbnail js-step-thumbnail-container' 
                onmouseover='scrollSwitch("main_{{ .Params.tag}}", {{ .Params.image2}});'>
                <img src='{{ .Params.image2 }}'/>
              </div>
            
              <div class='col-md-4 step-thumbnail js-step-thumbnail-container' 
                onmouseover='scrollSwitch("main_{{ .Params.tag}}", {{ .Params.image3}});'>
                <img src='{{ .Params.image3 }}'/>
              </div>
            
          </div>
          <div class='guide-text'>
            <div class='vc-text'>
              {{ .Content  }}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>