
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.bold-text{
  font-weight: 500;
  font-size: 1.35em;
}
.view {
  background-image: linear-gradient(to bottom right,rgb(110, 176, 194) 0px, rgb(63, 174, 205) 39%, rgb(52, 149, 176) 100%);
  height: 100%;
}

.view-blue {
  background-image: linear-gradient(to bottom right,rgb(110, 176, 194) 0px, rgb(63, 174, 205) 39%, rgb(52, 149, 176) 100%);
  height: 100%;
}

.view-gold {
  background-image: linear-gradient(to bottom right,rgb(234, 204, 116) 0px, rgb(2232, 196, 88) 39%, rgb(201, 168, 70) 100%);
  height: 100%;
}

.view-lime {
  background-image: linear-gradient(to bottom right,rgb(186, 235, 117) 0px, rgb(149, 202, 74) 39%, rgb(125, 173, 57) 100%);
  height: 100%;
}

.view-red {
  background-image: linear-gradient(to bottom right,rgb(239, 126, 98) 0px, rgb(228, 93, 55) 39%, rgb(194, 80, 49) 100%);
  height: 100%;
}

.view-green {
  background-image: linear-gradient(to bottom right,rgb(110, 222, 139) 0px, rgb(63, 179, 111) 39%, rgb(62, 146, 88) 100%);
  height: 100%;
}

.padded {
  padding: 0px;
}


.landingView {
	color: white;
	font-family: 'Fira Sans', sans serif;
}

.thumbnail {
  	padding: 10px;
  	border-width: 2px;
  	position: relative;
  	overflow: hidden;
  	background-color: rgba(255,255,255,.6);
  	-webkit-box-shadow: 4px 4px 19px -2px rgba(0,0,0,.45);
  	-moz-box-shadow: 4px 4px 19px -2px rgba(0,0,0,.45);
  	box-shadow: 4px 4px 19px -2px rgba(0,0,0,.45);
}

.fp {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	
}

.fp2 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  
}

.panel-primary {
	background-color: hsla(0,0%,100%,1.0)!important;
	padding: 1.25rem;
	border-radius: 0.25rem;
	color: #333;
	font-family: 'Fira Sans', sans serif;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.login-text {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
}

.login-text:focus {
  border-color: #66afe9;
  outline: 0;
}

.login-btn {
	transition: .2s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.login-btn:hover {
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  cursor:pointer;
}

.btn:hover{
  cursor:pointer;
}

.mainView .fade{
    -webkit-transition: visibility .25s linear;
    -o-transition: visibility .25s linear;
    transition: visibility .25s, opacity 0.25s linear;
}

.mainView .modal-header{
  font-size:17px;
}

.mainView .modal-body{
  font-size:15px;
  line-height:1.5;
}

.loginFooterLinks{
  margin-top:10px;
  font-size:12px;
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

#layer0 {
  fill: #fff
}

.navbar {
  box-shadow: none!important;
}

.custom-nav {
  color: white;
  font: "Fira Sans"
}

.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

.navbar-inverse .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.7);
}

.navbar-nav .active  {
  border-bottom: 1px solid white;
}

.util-nav .active  {
  border-bottom: 1px solid #333;
}


.custom-nav .nav-item a {
  font-size: 14px!important;
  font-family: 'Fira Sans', sans-serif;
}

.custom-nav .nav-item{

}

.login {
  border: 1px solid white!important;
}


.cb {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.1em!important;
  font-weight: 500;
}


 .nav-link {
  color: #333;
  font-size: 15px;
}

.white-container {
  background-color: white;
  border-radius: 3px;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

